@model IEnumerable<WebApplication_brr_bmi1.Models.tulov>

@{
    ViewBag.Title = "Index";
}

<h2>To'lov</h2>

<table class="table table-striped ">
    <tr>
        <th>
            <p class="panel-heading"><strong>To'lovlar</strong></p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tulov_turi)
            </td>

        </tr>
    }

</table>
