@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align-last:center; color:#193041"><b>Yangiliklar</b></h1>
    <p class="lead">IT-gigant rasman 1911 yilning 16 iyunida tashkil topgan bo‘lsa-da, 
    kompaniyaning tarixi biroz avval boshlangan - 1890 yilda AQSh aholisini ro‘yxatga olish ishlaridan 
    boshlangan, chunki aynan shu yili "elektron tabulyator"dan foydalanilgan. U paytlar kompaniyaning nomi 
    "Computing-Tabulating-Recording Company" bo‘lgan. 1914 yilda Tomas Vatson rahbarligi ostida kompaniyaning
     nomi "IBM"ga aylantirilgan. Yuzdan ortiq yil mobaynida kompaniya davlat, harbiy soha bilan faol hamkorlik
     qilib keldi, shuningdek NASA'ning doimiy hamkoriga aylandi. "Vikipedia"da 
    IBM mahsulotlari ro‘yxati cheksizdek tuyuladi. Ilk kompyuter yaratuvchi kompaniya tarixidagi eng muhim bosqichlar - fotogalereyada.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Batafsil &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Biz haqimizda</h2>
        <p>
            1911 yilning 16 iyunida CTR (Computing Tabulating Recording) kompaniyasiga asos solingan va u 1924 yilda IBM'ga aylandi

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Batafsil &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yangiliklar</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Batafsil &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>So'ngi yangiliklar</h2>
        <p>IBM kompaniyasi Toshkent shahridagi Inha universitetida innovatsion markaz tashkil etishi mumkin</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Batafsil &raquo;</a></p>
    </div>
</div>