
<br />
<br />
<br />
<br />

<h1 class="danger" style="text-align:center">
@ViewBag.Habar
    </h1>
<br />
<br />
<br />
<br />

        <a class="btn btn-default" style="color:blue;text-align:center" href="/Home/Register">Ro'yhatdan o'tish</a>
   